/* @import '@angular/cdk/overlay-prebuilt.css'; */

/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

:root {
	--font-sans: 'FireSans', sans-serif;
}

:root {
	--background: 0 0% 100%;
	--foreground: 0 0% 3.9%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 0 0% 3.9%;
	--border: 0 0% 89.8%;
	--input: 0 0% 89.8%;
	--primary: 0 0% 9%;
	--primary-foreground: 0 0% 98%;
	--secondary: 0 0% 96.1%;
	--secondary-foreground: 0 0% 9%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--ring: 0 0% 3.9%;
	--radius: 0.5rem;
}

.dark {
	--background: 0 0% 3.9%;
	--foreground: 0 0% 98%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--popover: 0 0% 3.9%;
	--popover-foreground: 0 0% 98%;
	--card: 0 0% 3.9%;
	--card-foreground: 0 0% 98%;
	--border: 0 0% 14.9%;
	--input: 0 0% 14.9%;
	--primary: 0 0% 98%;
	--primary-foreground: 0 0% 9%;
	--secondary: 0 0% 14.9%;
	--secondary-foreground: 0 0% 98%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--ring: 0 0% 83.1%;
}

.max-content-width {
	max-width: 1200px;
}

body {
	@apply bg-black text-light-purple-fax;
}

@font-face {
	font-family: FireSans;
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/firasans-light.woff2) format('woff2');
}
@font-face {
	font-family: FireSans;
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/firasans-regular.woff2) format('woff2');
}
@font-face {
	font-family: FireSans;
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/firasans-medium.woff2) format('woff2');
}
@font-face {
	font-family: FireSans;
	font-style: italic;
	font-weight: 500;
	src: url(/fonts/firasans-medium-italic.woff2) format('woff2');
}
@font-face {
	font-family: FireSans;
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/firasans-semibold.woff2) format('woff2');
}
@font-face {
	font-family: FireSans;
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/firasans-bold.woff2) format('woff2');
}
@font-face {
	font-family: FireSans;
	font-style: normal;
	font-weight: 800;
	src: url(/fonts/firasans-extrabold.woff2) format('woff2');
}
@font-face {
	font-family: sam-font;
	src: url(/fonts/sam-font.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
[data-icon]:before {
	content: attr(data-icon);
}
[class*=' icon-']:before,
[class^='icon-']:before,
[data-icon]:before {
	font-family: sam-font !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-about:before {
	content: 'd';
}
.icon-contact:before {
	content: 'e';
}
.icon-home:before {
	content: 'a';
}
.icon-projects:before {
	content: 'b';
}
.icon-skills:before {
	content: 'c';
}
.icon-linkedin:before {
	content: 'l';
}
.icon-instagram:before {
	content: 'i';
}
.icon-gitlab:before {
	content: 'g';
}
.icon-img {
	max-width: 30px;
}

.circle--primary {
	@apply border-2 border-solid border-ocean-blue bg-hip-black text-ocean-blue;
}

.circle--primary .circle-display__description,
.circle--secondary .circle-display__description {
	@apply text-xs italic text-light-purple-fax;
}

.circle--secondary .circle-display__description {
	@apply text-xs italic text-hip-black;
}

.circle--secondary {
	@apply border-2 bg-ocean-blue text-black;
}
